@import "https://necolas.github.io/normalize.css/8.0.1/normalize.css";
@import "_vars.scss";
@import "_elements.scss";

@import "_nav.scss";
@import "_utils.scss";

body{
  font-family: $body-font-family;
}

input, label, textarea, button{
  font-family: $input-font-family;
  font-weight: 300;
  outline: none;
}

article{
  width: $article-width;
  display: block;
  margin: $vertical-margin auto 0 auto;
}

.btn-show-more{
  margin: 0 auto;
}

form{
    width: 25%;
    margin: 0 auto;
    margin-top: 2em;
    input{
        display: block;
        margin-top: 1em;
        margin-bottom: 1em;
        width: 100%;
    }
}

button{
    margin-top: 2em;
    width: 100%;
}